#yes, #no {
  display: none;
}

#results {
  display: none;
}

#mostlyA {
  display: mostlyA;
}

#mostlyB {
  display: mostlyB;
}

#mostlyC {
  display: mostlyC;
}

.important {
  color: teal;
  font-weight: bold;
  text-align: center;
}

.unimportant {
  color: fuchsia;

}

.answerline {
  color: blueviolet;
  font-style: italic;

}